@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
body {
    margin: 0;
    height: 100vh;
    background: rgb(51, 140, 52);
    background: linear-gradient(45deg, rgb(51, 140, 52) 0%, rgb(152, 159, 57) 100%);
    background-size: 130vw 130vh;
}
h1{
    margin-left: 5%;
    margin-top: 200px;
    font-size: 50pt;
    font-family: 'Oswald', sans-serif;
    display: block;
    color:aliceblue;
}
.top{
  position: fixed;
  width: 100vw;
  height: 160px;
  background: slateblue;
  top:0;
  left:0;
  z-index: 2;
}
img{
  z-index: 3;
}
.pg2{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headr{
    margin-left: 5%;
    margin-right: 5%;
    border: 6px solid yellow;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    font-size: 18pt;
    font-family: 'Oswald', sans-serif;
    color:aliceblue;
}
.headr2{
    margin-left: 5%;
    margin-right: 5%;
    border: 6px solid yellow;
    width: auto;
    height: auto;
    display: flex;
    position: relative;
    font-size: 18pt;
    font-family: 'Oswald', sans-serif;
    color:aliceblue;
}
.img1{
    position: relative;
    float: right;
    display: flex;
    margin-right: 3%;
}
.img1:hover{
    transform: scale(1.1,1.1);
    transition: 0.5s;
}
.headr:hover{
    cursor: pointer;
    transform: scale(1.05,1.05);
    transition: 0.3s;
}
.headr2:hover{
    cursor: pointer;
    transform: scale(1.05,1.05);
    transition: 0.3s;
}
h2{
    position: relative;
    margin-left: 5%;
    font-family: 'Oswald', sans-serif;
    color:aliceblue;
    font-size: 22pt;
}
.con{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    height: 140px;
    justify-content: space-between;
    background: linear-gradient(45deg, #568885, #4166ed);
    border-radius: 20px;
    align-items: center;
}
a:active,
a:hover,
a{
    font-size: 18pt;
    position: relative;
    top: 0px;
    padding-top: 20px;
    text-decoration: none;
    color: black;
    font-family: 'Oswald', sans-serif;
    transition: 0.5s;
    color:aliceblue;
}
.lty{
    visibility: hidden;
    width: 80vw;
    height: 140px;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    position: absolute;
}
a:hover{
    font-size: 19pt;
    top: -10px;
    z-index: 4;
}
a:hover~.lty{
    visibility: visible;
    z-index: 3;
}
.fs{
    padding-left: 5%;
}
.ls{
    padding-right: 5%;
}
.but{
    width: 30vw;
    margin-left: 35vw;
    margin-right: 35vw;
    height: 100px;
    border-radius: 20px;
    background-color: #568885;
    color: aliceblue;
    cursor: pointer;
    font-size: 18pt;
    font-family: 'Oswald', sans-serif;
}
.back{
    background: linear-gradient(60deg, rgb(92, 21, 192), rgb(185, 49, 226));
    z-index: 1;
    width: 100vw;
    height: 140px;
    bottom: 0;
}
.tr{
    display: block;
    width: 100vw;
    height: 150px;
    background-color: black;
    color: white;
    z-index: 2;
}
@media screen and (max-width: 1448px){
    .pg1{
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: center;
        margin-left: 5%;
        margin-right: 5%;
    }
    .headr{
        width:auto;
        height: auto;
    }
    .pg2{
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: center;
        margin-left: 5%;
        margin-right: 5%;
    }
    .headr2{
        width:auto;
        height: auto;
    }
    .img1{
        float:none;
        margin-left: 42vw;
        margin-right: 42vw;
        width: 16vw;
        height: 16vw;
    }
    .con{
        z-index: 2;
        margin-left: 5%;
        margin-right: 5%;
        width:auto;
        height: 140px;
    }
    .lty{
        width: auto;
    }
    .back{
        height: 140px;

    }
}
@media screen and (max-width: 1100px){
    .img1{
        margin-left: 38vw;
        margin-right: 38vw;
        width: 24vw;
        height: 24vw;
    }
    .but{
        width: 50vw;
        margin-left: 25vw;
        margin-right: 25vw;
    }
    .h1{
        font-size: 40pt;
    }
}
@media screen and (max-width: 500px){
    .con{
        height: auto;
        flex-direction: column;
        justify-content: center;
    }
    img{
      width: 120px;
      height: 90px;
    }
    .top{
      height: 90px;
    }
    .fs{
        padding-left: 0;
    }
    .ls{
        padding-right: 0;
    }
    .lty{
        height: auto;
    }
    .back{
        height: auto;
    }
}
@media screen and (min-width: 1600px){
    .headr{
        height: auto;
        width: auto;
        font-size: 20pt;
    }
    .headr2{
        height: auto;
        width: auto;
        margin-right: 5%;
        font-size: 20pt;
    }
    h2{
        font-size: 24pt;
    }
    a{
        font-size: 20pt;
    }
    a:hover{
        font-size: 21pt;
    }
}
@media screen and (min-width: 1820px){
    .con{
        height: 200px;
    }
    .back{
        height: 200px;
    }
}